@import "tailwindcss";

/* * {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
} */

@theme {
  --color-Primary: #3ccf4e;
  --color-PrimaryDark: #1a1a1a;
  --color-BackgroundLight: #fff9f0;
  --color-NeutralGray: #a8adb5;
  --color-AccentLime: #a9ff59;
}

body {
  min-height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.active {
  border: 4px solid var(--color-Primary);
  padding: 2px;
}
